/*.suo
*.dll
*.xdt
/packages/*
/site/bin/*
/site/obj/*
*.user
/site/Packages/mrm-win8.cache.bin
/.vs/blackriverinc/v15/sqlite3/storage.ide
/.vs/blackriverinc/v15/.suo
*.nupkg
*.sha512
/.vs/blackriverinc/v15
/site/deployments
