.biblio_title
	{
	   font-size:11.0pt; 
	   font-family:"Times New Roman"; 
	   font-weight:bold; 
	   font-style:italic;
	}
.biblio_author
	{
	   font-size:11.0pt; 
	   font-family:"Times New Roman"; 
	   font-weight:bold; 
	}
